<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FUSE-fx.EntityAnnotations" version="4.3.0" targetFramework="net48" />
  <package id="FUSE-fx.ModelDescription" version="2.1.0" targetFramework="net48" />
  <package id="FUSE-fx.ModelReader" version="0.2.20" targetFramework="net48" />
  <package id="FUSE-fx.RepositoryContract" version="1.1.0" targetFramework="net48" />
  <package id="KornSW.AbstractFileSystem.RepositoryContract" version="2.2.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="SmartStandards.Logging" version="3.3.1" targetFramework="net48" />
</packages>